

body {
  font-family: 'Poppins', sans-serif;
}

@keyframes fade-in {
  from {
      opacity: 0;
      transform: translateY(-10px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 0.8s ease-in-out;
}

@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

.animate-fade-in {
    animation: fadeIn 4s ease-in-out;
}

@keyframes glow {
  0%, 100% {
      text-shadow: 0 0 3px rgba(255, 255, 255, 0.5),
                    0 0 6px rgba(111, 207, 255, 0.3),
                    0 0 9px rgba(111, 207, 255, 0.2),
                    0 0 12px rgba(111, 207, 255, 0.1);
  }
  50% {
      text-shadow: 0 0 3px rgba(255, 255, 255, 0.5),
                  0 0 6px rgba(111, 207, 255, 0.3),
                  0 0 9px rgba(111, 207, 255, 0.2),
                  0 0 12px rgba(111, 207, 255, 0.1);
  }
}

.animate-glow {
  animation: glow 3s infinite alternate;
}

.notification {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px 30px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  font-weight: bold;
  color: white;
  z-index: 10000; /* Garante que estará acima de tudo */
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

/* Fundo escuro para cobrir a tela */
.notification-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  z-index: 9999;
  display: none;
}

.notification.show {
  opacity: 1;
}

.notification.success {
  background-color: #4caf50;
}

.notification.error {
  background-color: #f44336;
}

  /* Reposicionamento para telas pequenas */
@media (max-width: 768px) {
    #faq-icon {
        right: 1rem;
    }
}










        

